doctype html
html
  head
  title Library
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css')
  style.

    table.ui.celled img { display: inline-block}
    footer { margin: 35px 0 15px 0; text-align: center }
    h1.ui.center.aligned.header {margin-bottom: 20px}
    img.ui.rounded.image {height: 150px; width: auto}
    .ui.table thead th {
      background: #2f3fba;
      color: white;
    }
    .ui.table tfoot th {
      background: #2f3fba;
      color: white;
    }

  body
    main#main
    h1.ui.center.aligned.header Library
    .ui.container


block content
  table.ui.celled.table.center.aligned
    thead
      tr
        th Photo
        th Name
        th Author
        th Available
        th Details
    tbody
      each book in books
        div(href=`/getBook?id=${book.id}`)
          tr
            td
              img.ui.rounded.image(src=book.picture)
            td #{book.name}
            td #{book.author}
            if book.isAvailable
              td Yes
            else
              td No
            td
              a.button(href=`/getBook?id=${book.id}`) Get details
    tfoot
      tr
        th(colspan='6')
          a.button(href=`/createBook` style="color:white;font-weight:bold;") Add book

  block footer
    footer
      p © #{new Date().getFullYear()} Library
